<template>
  <v-container fluid tag="section">
    <!-- DIALOG -->
    <div class="mr-5">
      <v-dialog v-model="modalAdd" persistent max-width="1000px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn small tile color="info" v-bind="attrs" v-on="on">
            <v-icon left>
              mdi-plus
            </v-icon>
            New Record
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline grey lighten-2">
            Add New Technician Leave Schedule
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-col>
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Staff Name</label>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input type="text" class="form-control" />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Leave Date</label>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input type="date" class="form-control" />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Return Date</label>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input type="date" class="form-control" />
                  </v-col>
                </v-row>
              </v-col>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <button
              class="btn btn-wide btn-secondary "
              @click="modalAdd = false"
            >
              Cancel
            </button>
            <button
              class="btn btn-wide btn-info ml-9 mr-10"
              @click="modalAdd = false"
            >
              Save
            </button>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="modalEdit" persistent max-width="1000px">
        <v-card>
          <v-card-title class="headline grey lighten-2">
            Edit Technician Leave Schedule
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-col>
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Staff Name</label>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input
                      type="text"
                      v-model="edit_leave.name"
                      class="form-control"
                    />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Leave Date</label>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input type="date" class="form-control" />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Return Date</label>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input type="date" class="form-control" />
                  </v-col>
                </v-row>
              </v-col>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <button
              class="btn btn-wide btn-secondary "
              @click="modalEdit = false"
            >
              Cancel
            </button>
            <button
              class="btn btn-wide btn-info ml-9 mr-10"
              @click="modalEdit = false"
            >
              Update
            </button>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <vue-scheduler
      @month-changed="monthChanged"
      @week-changed="weekChanged"
      @day-changed="dayChanged"
      @view-changed="viewChanged"
      :events="events"
      :event-display="eventDisplay"
      @event-clicked="eventClicked"
      @event-created="eventCreated"
      :event-dialog-config="dialogConfig"
    >
    </vue-scheduler>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      modalAdd: false,
      modalEdit: false,
      new_leave: {
        staff_id: "",
        leave_date: "",
        return_date: ""
      },
      edit_leave: {},
      events: [
        {
          id: 1,
          date: new Date(),
          startTime: "13:00",
          endTime: "15:00",
          name: "Date with David",
          comments: "MUST bring chocolate.",
          customAttribute: "I'm a custom attribute"
        },
        {
          id: 1,
          formatted_date: "1-26-2021",
          date: new Date("1-26-2021"),
          startTime: "13:00",
          endTime: "15:00",
          name: "Date with David",
          comments: "MUST bring chocolate.",
          customAttribute: "I'm a custom attribute"
        }
      ],
      dialogConfig: {}
    };
  },
  methods: {
    eventDisplay(event) {
      return event.name + " - " + event.comments;
    },
    monthChanged(newDate) {
      console.log("Month Changed");
      console.log(newDate);
    },
    weekChanged(newDate) {
      console.log("Week Changed");
      console.log(newDate);
    },
    dayChanged(newDate) {
      console.log("Day Changed");
      console.log(newDate);
    },
    viewChanged(newView) {
      console.log("View Changed");
      console.log(newView);
    },
    dayClicked(date) {},
    timeClicked(dateWithTime) {
      console.log("Time clicked");
      console.log("Date: " + dateWithTime.date);
      console.log("Time: " + dateWithTime.time);
    },
    eventClicked(event) {
      console.log("Event clicked");
      console.log(event);
      this.edit_leave = event;
      this.modalEdit = true;
      alert(JSON.stringify(event));
    },
    eventCreated(event) {
      console.log("Event created");
      console.log(event);
    }
  }
};
</script>
