<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-card-title>
        <v-col>
          <v-row no-gutters>
            <h3>Technician Leave Schedule</h3>
            <v-btn
              small
              tile
              color="info"
              class="ml-auto"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon left>
                mdi-plus
              </v-icon>
              New Record
            </v-btn>
          </v-row>
          <hr />
           <v-row no-gutters>
         <div class="row">
            <div class="card-body mx-auto">
            <ejs-schedule
              :height="height"
              :readOnly="readOnly"
              :selectedDate="selectedDate"
              :views="views"
              :eventSettings="eventSettings"
              :width="width"
            ></ejs-schedule>
          </div>
        </div>
      </v-row>
        </v-col>
      </v-card-title>
     
    </v-card>
  </v-container>
</template>
<script>
import Vue from "vue";
import {
  SchedulePlugin,
  Day,
  Week,
  TimelineViews,
  Month,
  Agenda
} from "@syncfusion/ej2-vue-schedule";

let data = [
  {
    Id: 1,
    Subject: "Paris",
    StartTime: new Date(2021, 1, 15, 10, 0),
    EndTime: new Date(2021, 1, 15, 12, 30)
  }
];

Vue.use(SchedulePlugin);
export default {
  data() {
    return {
      height: "550px",
      width:'800px',
      readOnly: true,
      views: ["Day", "Week", "TimelineWeek", "Month", "Agenda"],
      eventSettings: {
        dataSource: [
          {
            Id: 1,
            Subject: "Explosion of Betelgeuse Star",
            StartTime: new Date(2021, 1, 11, 9, 30),
            EndTime: new Date(2021, 1, 11, 11, 0),
            CategoryColor: "#1aaa55",
          },
          {
            Id: 2,
            Subject: "Thule Air Crash Report",
            StartTime: new Date(2021, 1, 12, 12, 0),
            EndTime: new Date(2021, 1, 12, 14, 0),
            CategoryColor: "#357cd2",
            IsReadonly: true
          },
          {
            Id: 3,
            Subject: "Blue Moon Eclipse",
            StartTime: new Date(2021, 1, 13, 9, 30),
            EndTime: new Date(2021, 1, 13, 11, 0),
            CategoryColor: "#7fa900",
            IsReadonly: true
          },
          {
            Id: 4,
            Subject: "Meteor Showers in 2021",
            StartTime: new Date(2021, 1, 14, 13, 0),
            EndTime: new Date(2021, 1, 14, 14, 30),
            CategoryColor: "#ea7a57",
            IsReadonly: true
          },
          {
            Id: 5,
            Subject: "Milky Way as Melting pot",
            StartTime: new Date(2021, 1, 15, 12, 0),
            EndTime: new Date(2021, 1, 15, 14, 0),
            CategoryColor: "#00bdae",
            IsReadonly: true
          },
          {
            Id: 6,
            Subject: "Mysteries of Bermuda Triangle",
            StartTime: new Date(2021, 1, 15, 9, 30),
            EndTime: new Date(2021, 1, 15, 11, 0),
            CategoryColor: "#f57f17",
            IsReadonly: true
          },
          {
            Id: 7,
            Subject: "Glaciers and Snowflakes",
            StartTime: new Date(2021, 1, 16, 11, 0),
            EndTime: new Date(2021, 1, 16, 12, 30),
            CategoryColor: "#1aaa55",
            IsReadonly: true
          },
          {
            Id: 8,
            Subject: "Life on Mars",
            StartTime: new Date(2021, 1, 17, 9, 0),
            EndTime: new Date(2021, 1, 17, 10, 0),
            CategoryColor: "#357cd2",
            IsReadonly: true
          },
          {
            Id: 9,
            Subject: "Alien Civilization",
            StartTime: new Date(2021, 1, 19, 11, 0),
            EndTime: new Date(2021, 1, 19, 13, 0),
            CategoryColor: "#7fa900",
            IsReadonly: true
          },
          {
            Id: 10,
            Subject: "Wildlife Galleries",
            StartTime: new Date(2021, 1, 21, 11, 0),
            EndTime: new Date(2021, 1, 21, 13, 0),
            CategoryColor: "#ea7a57",
            IsReadonly: true
          },
          {
            Id: 11,
            Subject: "Best Photography 2021",
            StartTime: new Date(2021, 1, 22, 9, 30),
            EndTime: new Date(2021, 1, 22, 11, 0),
            CategoryColor: "#00bdae",
            IsReadonly: true
          },
          {
            Id: 12,
            Subject: "Smarter Puppies",
            StartTime: new Date(2021, 1, 9, 10, 0),
            EndTime: new Date(2021, 1, 9, 11, 30),
            CategoryColor: "#f57f17",
            IsReadonly: true
          },
          {
            Id: 13,
            Subject: "Myths of Andromeda Galaxy",
            StartTime: new Date(2021, 1, 7, 10, 30),
            EndTime: new Date(2021, 1, 7, 12, 30),
            CategoryColor: "#1aaa55",
            IsReadonly: true
          },
          {
            Id: 14,
            Subject: "Aliens vs Humans",
            StartTime: new Date(2021, 1, 5, 10, 0),
            EndTime: new Date(2021, 1, 5, 11, 30),
            CategoryColor: "#357cd2",
            IsReadonly: true
          },
          {
            Id: 15,
            Subject: "Facts of Humming Birds",
            StartTime: new Date(2021, 1, 20, 9, 30),
            EndTime: new Date(2021, 1, 20, 11, 0),
            CategoryColor: "#7fa900",
            IsReadonly: true
          },
          {
            Id: 16,
            Subject: "Sky Gazers",
            StartTime: new Date(2021, 1, 23, 11, 0),
            EndTime: new Date(2021, 1, 23, 13, 0),
            CategoryColor: "#ea7a57",
            IsReadonly: true
          },
          {
            Id: 17,
            Subject: "The Cycle of Seasons",
            StartTime: new Date(2021, 1, 12, 5, 30),
            EndTime: new Date(2021, 1, 12, 7, 30),
            CategoryColor: "#00bdae",
            IsReadonly: true
          },
          {
            Id: 18,
            Subject: "Space Galaxies and Planets",
            StartTime: new Date(2021, 1, 12, 17, 0),
            EndTime: new Date(2021, 1, 12, 18, 30),
            CategoryColor: "#f57f17",
            IsReadonly: true
          },
          {
            Id: 19,
            Subject: "Lifecycle of Bumblebee",
            StartTime: new Date(2021, 1, 15, 6, 0),
            EndTime: new Date(2021, 1, 15, 7, 30),
            CategoryColor: "#7fa900",
            IsReadonly: true
          },
          {
            Id: 20,
            Subject: "Sky Gazers",
            StartTime: new Date(2021, 1, 15, 16, 0),
            EndTime: new Date(2021, 1, 15, 18, 0),
            CategoryColor: "#ea7a57",
            IsReadonly: true
          }
        ]
      },
      selectedDate: new Date()
    };
  },
  provide: {
    schedule: [Day, Week, TimelineViews, Month, Agenda]
  }
};
</script>
