<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :dark="barColor !== 'rgba(181, 181, 181, 0.2), rgba(181, 181, 181, 0.2)'"
    :expand-on-hover="expandOnHover"
    :right="$vuetify.rtl"
    mobile-break-point="960"
    app
    width="260"
    v-bind="$attrs"
  >
    <template v-slot:img="props">
      <v-img :gradient="`to bottom, ${barColor}`" v-bind="props" />
    </template>

    <v-divider class="mb-1" />

    <v-list dense nav>
      <v-list-item>
        <v-list-item-avatar class="align-self-center" color="white" contain>
          <v-img :src="barImage" max-height="100" />
        </v-list-item-avatar>

        <v-list-item-title
          class="display-1 font-weight-bold"
          v-text="'ICTC SERVICE DESK'"
        />
      </v-list-item>
    </v-list>

    <v-divider class="mb-2" />

    <v-list expand nav>
      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />

      <template v-for="(item, i) in computedItems">
        <!-- <base-item-group
          v-if="item.children"
          :key="`group-${i}`"
          :item="item"
        > -->
        <!--  -->
        <!-- </base-item-group> -->

        <base-item :key="`item-${i}`" :item="item" />
      </template>

      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />
    </v-list>

    <!-- <template v-slot:append>
      <base-item
        :item="{
          title: $t('upgrade'),
          icon: 'mdi-package-up',
          to: '/upgrade',
        }"
      />
    </template> -->
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapState } from "vuex";

export default {
  name: "DashboardCoreDrawer",

  props: {
    expandOnHover: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    items: []
  }),

  created() {
    this.getNavItem();
  },

  computed: {
    ...mapState(["barColor", "barImage", "userType"]),
    drawer: {
      get() {
        return this.$store.state.drawer;
      },
      set(val) {
        this.$store.commit("SET_DRAWER", val);
      }
    },
    computedItems() {
      return this.items.map(this.mapItem);
    },
    profile() {
      return {
        avatar: true,
        title: this.$t("avatar")
      };
    },
    getNavItem() {
      let navItem = [];
      switch (this.$store.state.userType) {
        case "Admin":
          navItem = [
            {
              icon: "mdi-view-dashboard",
              title: "dashboard",
              to: "/admin"
            },
            {
              icon: "mdi-responsive",
              title: "Assets",
              to: "/asset"
            },
            // {
            //   title: 'Licenses & Accounts',
            //   icon: 'mdi-clipboard-outline',
            //   to: '/tables/regular-tables',
            // },
            {
              title: "Licenses & Accounts",
              icon: "mdi-clipboard-outline",
              to: "/license"
            },
            // {
            //   title: 'Tickets',
            //   icon: 'mdi-ticket-confirmation-outline',
            //   to: '/components/typography',
            // },
            {
              title: "Tickets",
              icon: "mdi-ticket-confirmation-outline",
              to: "/ticket"
            },
            {
              title: "Staff List",
              icon: "mdi-account-multiple",
              to: "/staff"
            },
            // {
            //   title: 'Staff List',
            //   icon: 'mdi-account-multiple',
            //   to: '/components/icons',
            // },
            // {
            //   title: 'Leave Schedule',
            //   icon: 'mdi-calendar-month',
            //   to: '/maps/google-maps',
            // },
            {
              title: "Leave Schedule",
              icon: "mdi-calendar-month",
              to: "/schedule"
            },
            {
              title: "Reports",
              icon: "mdi-chart-line",
              to: "/reports"
            },
            {
              title: "Settings",
              icon: "mdi-cogs",
              to: "/settings"
            }
            //  {
            //   title: 'Reports',
            //   icon: 'mdi-chart-line',
            //   to: '/upgrade',
            // },
            // {
            //   title: 'Settings',
            //   icon: 'mdi-cogs',
            //   to: '/components/notifications',
            // },
          ];
          break;

        case "Technician":
          navItem = [
            {
              icon: "mdi-view-dashboard",
              title: "Home",
              to: "/"
            },
            {
              icon: "mdi-account",
              title: "Assigned Tickets",
              to: "/pages/user"
            },
            {
              title: "My Tickets",
              icon: "mdi-timeline-alert-outline",
              to: "/tables/regular-tables"
            },
            {
              title: "My Requests",
              icon: "mdi-timeline-plus-outline",
              to: "/components/typography"
            },
            {
              title: "My Assets",
              icon: "mdi-chart-bubble",
              to: "/components/icons"
            },
            {
              title: "My Leave Planner",
              icon: "mdi-calendar-month",
              to: "/maps/google-maps"
            },
            {
              title: "Settings",
              icon: "mdi-bell",
              to: "/components/notifications"
            }
          ];
          break;

        default:
          navItem = [
            {
              icon: "mdi-view-dashboard",
              title: "Home",
              to: "/"
            },
            {
              icon: "mdi-account",
              title: "My Tickets",
              to: "/pages/user"
            },
            {
              title: "My Requests",
              icon: "mdi-clipboard-outline",
              to: "/tables/regular-tables"
            },
            {
              title: "My Assets",
              icon: "mdi-format-font",
              to: "/components/typography"
            }
          ];
          break;
      }

      this.items = navItem;
    }
  },

  methods: {
    mapItem(item) {
      return {
        ...item,
        children: item.children ? item.children.map(this.mapItem) : undefined,
        title: this.$t(item.title)
      };
    }
  }
};
</script>

<style lang="sass">
@import '~vuetify/src/styles/tools/_rtl.sass'

#core-navigation-drawer
  .v-list-group__header.v-list-item--active:before
    opacity: .24

  .v-list-item
    &__icon--text,
    &__icon:first-child
      justify-content: center
      text-align: center
      width: 20px

      +ltr()
        margin-right: 24px
        margin-left: 12px !important

      +rtl()
        margin-left: 24px
        margin-right: 12px !important

  .v-list--dense
    .v-list-item
      &__icon--text,
      &__icon:first-child
        margin-top: 10px

  .v-list-group--sub-group
    .v-list-item
      +ltr()
        padding-left: 8px

      +rtl()
        padding-right: 8px

    .v-list-group__header
      +ltr()
        padding-right: 0

      +rtl()
        padding-right: 0

      .v-list-item__icon--text
        margin-top: 19px
        order: 0

      .v-list-group__header__prepend-icon
        order: 2

        +ltr()
          margin-right: 8px

        +rtl()
          margin-left: 8px
</style>
