<!--

=========================================================
* Vuetify Material Dashboard - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/vuetify-material-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>ICTC Service Desk</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/base.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/assets/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/node_modules/@syncfusion/ej2-base/styles/material.css" />
    <link rel="stylesheet/scss" type="text/css" href="/assets/css/_closed-sidebar.scss">
    <link rel="stylesheet/scss" type="text/css" href="/assets/css/_fixed-header.scss">
    <link rel="stylesheet/scss" type="text/css" href="/assets/css/_fixed-sidebar.scss">
    <link rel="stylesheet/scss" type="text/css" href="/assets/css/_sidebar-base.scss">
    <link rel="stylesheet/scss" type="text/css" href="/assets/css/_responsive-base.scss">
    <!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    
  </head>
  <body>
    <noscript>
      <strong>We're sorry but material doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/demo.js"></script>
  <script src="/assets/js/sweet-alerts.min.js"></script>
  <script src="/assets/js/vendors/datatables.min.js"></script>
  <script src="/assets/js/vendors/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/es5/sidebar.large.script.min.js"></script>
  <script src="/assets/js/es5/dashboard.v1.script.min.js"></script>
  <script src="/assets/js/script.min.js"></script>
  <script src="/assets/js/vendors/echarts.min.js"></script>
  <script src="/assets/js/vendors/echart.options.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</html>
