<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <div class="row">
        <div class="col-md-9">
          <v-row no-gutters>
            <div class="pb-5 mr-auto mr-5">
              <label>{{ getTitle() }} Tickets</label>
            </div>
          </v-row>
        </div>
      </div>

      <div class="col-md-12 col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-header-tab card-header">
            <div class="card-header-title">
              Issue Tickets Report Summary
            </div>
          </div>

          <div class="card-body" id="chart">
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12  col-xs-12">
                <div id="issueChart" style="height: 350px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue";
export default {
  name: "DatatableComponent",
  components: {
    ckeditor: CKEditor.component
  },
  data() {
    return {
      editorConfig: {},
      editor: ClassicEditor,
      remarks: "",
      threshold: [
        {
          name: "All",
          value: 173
        },
        {
          name: "Open",
          value: 21
        },
        {
          name: "Assigned",
          value: 59
        },
        {
          name: "On-Hold",
          value: 45
        },
        {
          name: "Overdue",
          value: 0
        },
        {
          name: "Closed",
          value: 30
        }
      ],
      assigned_to_toggle: 0,
      option: [],
      data: {
        option: {
          tooltip: {
            trigger: "item",
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
            orient: "vertical",
            right: 0
          },
          series: [
            {
              name: "Issue Ticket Reports",
              type: "pie",
              radius: ["50%", "80%"],
              avoidLabelOverlap: true,
              label: {
                show: true,
                position: "left",
                formatter: "{b}: {c}"
              },
              emphasis: {
                label: {
                  show: false,
                  fontSize: "10"
                }
              },
              labelLine: {
                show: true
              },
              data: [
                {
                  name: "Open",
                  value: 173
                },
                {
                  name: "Assigned",
                  value: 59
                },
                {
                  name: "On-Hold",
                  value: 45
                },
                {
                  name: "Overdue",
                  value: 0
                },
                {
                  name: "Closed",
                  value: 30
                }
              ]
            }
          ]
        }
      },
      modalAdd: false,
      modalEdit: false,
      issue_tickets: [
        {
          id: 1,
          staff: {
            id: 1,
            name: "Siti Zubaidah binti Haji Ismail"
          },
          asset: {
            id: 1,
            name: 'Macbook Pro 13"'
          },
          type: {
            id: 1,
            name: "Broken"
          },
          submitted_on: "2021-12-02",
          description: "Lorem ipsum",
          assigned_to: {
            id: 1,
            name: "Technician 1"
          },
          ticket_status: {
            id: 1,
            name: "Open"
          }
        },
        {
          id: 4,
          staff: {
            id: 1,
            name: "Siti Zubaidah binti Haji Ismail"
          },
          asset: {
            id: 1,
            name: 'Macbook Pro 13"'
          },
          type: {
            id: 1,
            name: "Broken"
          },
          submitted_on: "2021-12-02",
          description: "Lorem ipsum",
          assigned_to: {
            id: 1,
            name: "Technician 1"
          },
          ticket_status: {
            id: 2,
            name: "Assigned"
          }
        },
        {
          id: 2,
          staff: {
            id: 1,
            name: "Siti Zubaidah binti Haji Ismail"
          },
          asset: {
            id: 1,
            name: 'Macbook Pro 13"'
          },
          type: {
            id: 1,
            name: "Broken"
          },
          submitted_on: "2021-12-02",
          description: "Lorem ipsum",
          assigned_to: {
            id: 1,
            name: "Technician 1"
          },
          ticket_status: {
            id: 3,
            name: "Closed"
          }
        },
        {
          id: 3,
          staff: {
            id: 1,
            name: "Siti Zubaidah binti Haji Ismail"
          },
          asset: {
            id: 1,
            name: 'Macbook Pro 13"'
          },
          type: {
            id: 1,
            name: "Broken"
          },
          submitted_on: "2021-12-02",
          description: "Lorem ipsum",
          assigned_to: {
            id: 1,
            name: "Technician 1"
          },
          ticket_status: {
            id: 3,
            name: "On-Hold"
          }
        }
      ],
      add: {
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      edit: {
        id: "",
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      tableData: {
        tableHeader: [],
        content: {}
      },
      assigned_to_toggle: [],
      selected: "A",
      page: 0,
      loading: true,
      options: {},
      vendors: [
        { id: 1, name: "Vendor 1" },
        { id: 2, name: "Vendor 2" },
        { id: 3, name: "Vendor 3" },
        { id: 4, name: "Vendor 4" }
      ]
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "Ticket No", sort: "sorting" },
        { label: "Staff", sort: "sorting" },
        { label: "Asset", sort: "sorting" },
        { label: "Assigned To", sort: "sorting" },
        { label: "Ticket Status", sort: "sorting" },
        { label: "Date Submitted", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          //   this.passengers = response.data;
          //   this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#issue_tbl").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "Bflrtip",
            scrollX: true,
            buttons: [
              {
                extend: "excel",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "pdf",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "print",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              }
            ]
          });
        });
    },

    loadChart() {
      this.option = this.data.option;

      let o = document.getElementById("issueChart");
      let a = echarts.init(o);
      a.setOption(this.option);
    },

    handleClick(ticket_id) {
      this.$router.push("/ticket/issue/edit/" + ticket_id);
    },

    getTitle() {
      let title = "All";
      if (this.assigned_to_toggle >= 0) {
        this.threshold.forEach((item, index) => {
          if (this.assigned_to_toggle === index) {
            title = item.name;
          }
        });
      }

      return title;
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
    this.loadChart();
  }
};
</script>

<style>
.v-btn-toggle {
  flex-direction: column;
  background: #ffff;
}

.aa {
  background: #bebebe !important;
}

.bb {
  background: green !important;
}

.cc {
  background: blue !important;
}

.dd {
  background: yellow !important;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;

  background: lightseagreen;
  border: 2px solid lightseagreen;
  color: white;
  text-align: center;

  font: 12px Arial, sans-serif;
}

.ck-editor__editable {
  min-height: 150px;
}
</style>
