<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-card-text class="pt-5">
        <v-card-title>
          <v-col>
            <v-tabs v-model="tab" background-color="primary" dark>
              <v-tab v-for="item in items" :key="item.tab">
                {{ item.tab }}
              </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item v-for="item in items" :key="item.tab">
                
              </v-tab-item>
            </v-tabs-items>

            <v-card flat>
                  <asset-reports v-if="tab == 0" />
                  <issue-reports v-if="tab == 1" />
                  <request-reports v-if="tab == 2" />
                </v-card>
          </v-col>
        </v-card-title>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import AssetReports from "@/views/Admin/Reports/AssetReports";
import IssueReports from "@/views/Admin/Reports/IssueReports";
import RequestReports from "@/views/Admin/Reports/RequestReports";

export default {
  components: { AssetReports, IssueReports, RequestReports },
  computed: {},

  data() {
    return {
      tab: 0,
      items: [{ tab: "Assets" }, { tab: "Issues" }, { tab: "Requests" }]
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },

  mounted() {
      
  }
};
</script>

<style>
ul.breadcrumb {
  padding: 12px 0px;
  list-style: none;
  background-color: #fff;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: green;
}
</style>
