<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-col>
        <!-- 1st ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Name</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Model</label>
          </v-col>
        </v-row>

        <!-- 2nd ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.name }}</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.model }}</label>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <!-- 1st ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Serial Number</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">PO Number</label>
          </v-col>
        </v-row>

        <!-- 2nd ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.serial_number }}</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.po_number }}</label>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <!-- 1st ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Asset Type</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Date Procured/Leased</label>
          </v-col>
        </v-row>

        <!-- 2nd ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.asset_type }}</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.date_procured }}</label>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <!-- 1st ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Vendor</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Warranty</label>
          </v-col>
        </v-row>

        <!-- 2nd ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.vendor }}</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.warranty }} months</label>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <!-- 1st ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">MAC Address</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Current OS</label>
          </v-col>
        </v-row>

        <!-- 2nd ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.mac_address }}</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label>{{ asset_data.current_os }}</label>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <!-- 1st ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Status</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold">Assigned To</label>
          </v-col>
        </v-row>

        <!-- 2nd ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="sorting_1">{{ asset_data.status }}</label>
          </v-col>
          <v-col class="pl-10 pt-0">
            <a style="color: blue">{{ asset_data.assigned_to }}</a>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <!-- 1st ROW -->
        <v-row no-gutters>
          <v-col class="pl-10 pt-0">
            <label class="font-weight-bold"
              >Remarks (inclusive item provided)</label
            >
            <label>{{ asset_data.remarks }}</label>
          </v-col>

          <v-col class="pl-10 pt-0">
            <qrcode :value="asset_data.id" :options="{ width: 200 }"></qrcode>

            <a style="color: blue">Print QR Code</a>

          </v-col>
        </v-row>
      </v-col>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
// import QrcodeVue from 'qrcode.vue';
export default {
  name: "DatatableComponent",
  //   components: {
  //       QrcodeVue,
  //     },
  data() {
    return {
      value: "https://example.com",
      size: 300,
      asset_data: {
        id: "2baf70d1-42bb-4437-b551-e5fed5a87abe",
        name: 'Macbook Pro 13"',
        model: "C75DC7232",
        serial_number: "4CE0460D0G",
        po_number: "PO1101",
        asset_type: "Laptop",
        date_procured: "01/01/2020",
        vendor: "Syarikat Vendor 1",
        mac_address: "00:1B:44:11:3A:B7",
        warranty: 36,
        current_os: "MacOS 10.15",
        status: "In Use",
        assigned_to: "Staff 1",
        remarks:
          "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
      }
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Title", sort: "sorting" },
        { label: "Producer", sort: "sorting" },
        { label: "Director", sort: "sorting" },
        { label: "Release Date", sort: "sorting" },
        { label: "Score", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          this.passengers = response.data;
          this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#asset").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "flrtip",
            scrollX: true
          });
        });
    },
    setClickedItem(item) {
      this.clickedItem = item;
    },

    handleClick(value) {
      this.$store.commit("SET_ASSET_ID", value.id);

      this.$router.push("/asset/details");
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>

<style>
a {
  color: blue;
}
</style>
