<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
 
      <table
        id="asset_history"
        style="width: 100%"
        class="table table-hover table-striped table-bordered dataTable dtr-inline"
        role="grid"
        aria-describedby="example_info"
      >
        <thead>
          <tr role="row">
            <th v-for="(head, index1) in tableData.tableHeader" :key="index1">
              {{ head.label }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(item, index) in tableData.tableRow" v-bind:key="index">
            <td>{{ index + 1 }}</td>
            <td class="sorting_1">
             {{ item.title }}
            </td>
            <td>{{ item.producer }}</td>
            <td>{{ item.director }}</td>
            <td>{{ item.release_date }}</td>
            <td>{{ item.rt_score }}</td>
          </tr>
        </tbody>
      </table>
    </v-card>

  </v-container>
</template>

<script>
import axios from "axios";
export default {
  name: "DatatableComponent",
  data() {
    return {
      tableData: {
        tableHeader: [],
        tableRow: [],
        content: {}
      },
      page: 0,
      totalPassengers: 0,
      numberOfPages: 0,
      passengers: [],
      loading: true,
      options: {},
      headers: [
        { text: "Title", value: "title" },
        { text: "Director", value: "director" },
        { text: "Release Date", value: "release_date" },
        { text: "Score", value: "rt_score" }
      ],
      search: "",
      items: [
        { title: "Click Me" },
        { title: "Click Me 1" },
        { title: "Click Me 3" },
        { title: "Click Me 2" }
      ],
      clickedItem: "Dropdown"
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Title", sort: "sorting" },
        { label: "Producer", sort: "sorting" },
        { label: "Director", sort: "sorting" },
        { label: "Release Date", sort: "sorting" },
        { label: "Score", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          this.passengers = response.data;
          this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#asset_history").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "bflrtip",
            scrollX: true,
          });
        });
    },
 

    handleClick(value) {
      this.$store.commit("SET_ASSET_ID", value.id);

      this.$router.push("/asset/details");
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>
