<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-card-text class="pt-5">
        <v-card-title>
          <v-col>
            <v-col>
              <v-row>
                <label>{{ asset.title }}</label>
                 <v-btn small tile color="success"  class="btn ml-auto" @click="editAsset(asset.id)">
                  <v-icon>
                    mdi-border-color
                  </v-icon>
                </v-btn>
              </v-row>

              <ul class="breadcrumb">
                <li><a href="#" @click="back()">View All </a></li>
                <li>View {{ asset.producer }}</li>
              </ul>
            </v-col>
            <v-tabs v-model="tab" background-color="primary" dark>
              <v-tab v-for="item in items" :key="item.tab">
                {{ item.tab }}
              </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item v-for="item in items" :key="item.tab">
                
              </v-tab-item>
            </v-tabs-items>
            <v-card flat>
                  <asset-detail v-if="tab == 0" />
                  <asset-ticket v-if="tab == 1" />
                  <asset-history v-if="tab == 2" />
                  <!-- <v-card-text>{{ tab }}</v-card-text> -->
                </v-card>
          </v-col>
        </v-card-title>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import AssetDetail from "@/views/Admin/Asset/AssetDetail";
import AssetHistory from "@/views/Admin/Asset/AssetHistory";
import AssetTicket from "@/views/Admin/Asset/AssetTicket";
import { mapState } from "vuex";

export default {
  components: { AssetDetail, AssetHistory, AssetTicket },
  computed: {
    ...mapState(["asset"])
  },

  data() {
    return {
      tab: null,
      items: [{ tab: "Details" }, { tab: "Tickets" }, { tab: "History" }]
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
    editAsset(asset_id){
       this.$router.push('/asset/edit/' + asset_id)
    }
  }
};
</script>

<style>
ul.breadcrumb {
  padding: 12px 0px;
  list-style: none;
  background-color: #fff;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: green;
}
</style>
