<template>
  <div>
    <v-container fluid tag="section">
      <h4>Edit {{ asset_data.name }}</h4>

      <v-card flat class="my-0 mt-0">
        <div class="ml-4 mt-2">
          <ul class="breadcrumb">
            <li><a href="#" @click="back(-2)">View All </a></li>
            <li>
              <a href="#" @click="back(-1)">View {{ asset_data.name }} </a>
            </li>
            <li>Edit {{ asset_data.name }}</li>
          </ul>
        </div>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Name</label>
            </v-col>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Model</label>
            </v-col>
          </v-row>

          <!-- 2nd ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <input
                type="text"
                v-model="asset_data.name"
                class="form-control"
              />
            </v-col>
            <v-col class="pl-10 pt-0">
              <input
                type="text"
                v-model="asset_data.model"
                class="form-control"
              />
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Serial Number</label>
            </v-col>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">PO Number</label>
            </v-col>
          </v-row>

          <!-- 2nd ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <input
                type="text"
                v-model="asset_data.serial_number"
                class="form-control"
              />
            </v-col>
            <v-col class="pl-10 pt-0">
              <input
                type="text"
                v-model="asset_data.po_number"
                class="form-control"
              />
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Asset Type</label>
            </v-col>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Date Procured/Leased</label>
            </v-col>
          </v-row>

          <!-- 2nd ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <!-- in future, use drop down -->
              <input
                type="text"
                v-model="asset_data.asset_type"
                class="form-control"
              />
            </v-col>
            <v-col class="pl-10 pt-0">
              <!-- in future, use date picker -->
              <input
                type="text"
                v-model="asset_data.date_procured"
                class="form-control"
              />
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Vendor</label>
            </v-col>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Warranty</label>
            </v-col>
          </v-row>

          <!-- 2nd ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <!-- in future, use drop down -->
              <input
                type="text"
                v-model="asset_data.vendor"
                class="form-control"
              />
            </v-col>
            <v-col class="pl-10 pt-0">
              <input
                type="text"
                v-model="asset_data.warranty"
                class="form-control"
              />
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">MAC Address</label>
            </v-col>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Current OS</label>
            </v-col>
          </v-row>

          <!-- 2nd ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <input
                type="text"
                v-model="asset_data.mac_address"
                class="form-control"
              />
            </v-col>
            <v-col class="pl-10 pt-0">
              <input
                type="text"
                v-model="asset_data.current_os"
                class="form-control"
              />
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Status</label>
            </v-col>
            <v-col class="pl-10 pt-0">
              <label class="font-weight-bold">Assigned To</label>
            </v-col>
          </v-row>

          <!-- 2nd ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <!-- In future drop down -->
              <input
                type="text"
                v-model="asset_data.status"
                class="form-control"
              />
            </v-col>
            <v-col class="pl-10 pt-0">
              <!-- add tab dept/lab/staff  -->
              <!-- choose item dropdown -->
              <input
                type="text"
                v-model="asset_data.assigned_to"
                class="form-control"
              />
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <div class="col-md-13 col-lg-13">
                <div class="mb-3">
                  <p class="font-weight-bold">
                    Remarks (inclusive item provided)
                  </p>
                  <ckeditor
                    :editor="editor"
                    v-model="asset_data.remarks"
                    :config="editorConfig"
                  ></ckeditor>
                </div>
              </div>

              <!-- <label>{{ asset_data.remarks }}</label> -->
            </v-col>

            <v-col class="pl-10 pt-0">
              <qrcode :value="asset_data.id" :options="{ width: 200 }"></qrcode>

              <a style="color: blue">Print QR Code</a>
            </v-col>
          </v-row>

          <v-row class="mb-9 mt-5 d-flex flex-row-reverse ">
            <button class="btn btn-wide btn-info ml-9 mr-10">
              Update
            </button>
            <button class="btn btn-wide btn-secondary ">
              Cancel
            </button>
          </v-row>
        </v-col>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue";

// import QrcodeVue from 'qrcode.vue';
export default {
  name: "DatatableComponent",
  components: {
    ckeditor: CKEditor.component
  },
  //   components: {
  //       QrcodeVue,
  //     },
  data() {
    return {
      editorConfig: {
        // The configuration of the editor.
      },
      editor: ClassicEditor,

      value: "https://example.com",
      size: 300,
      asset_data: {
        id: "2baf70d1-42bb-4437-b551-e5fed5a87abe",
        name: 'Macbook Pro 13"',
        model: "C75DC7232",
        serial_number: "4CE0460D0G",
        po_number: "PO1101",
        asset_type: "Laptop",
        date_procured: "01/01/2020",
        vendor: "Syarikat Vendor 1",
        mac_address: "00:1B:44:11:3A:B7",
        warranty: 36,
        current_os: "MacOS 10.15",
        status: "In Use",
        assigned_to: "Staff 1",
        remarks:
          "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
      }
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Title", sort: "sorting" },
        { label: "Producer", sort: "sorting" },
        { label: "Director", sort: "sorting" },
        { label: "Release Date", sort: "sorting" },
        { label: "Score", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          this.passengers = response.data;
          this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#asset").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "flrtip",
            scrollX: true
          });
        });
    },
    setClickedItem(item) {
      this.clickedItem = item;
    },

    back(backTo) {
      this.$router.go(backTo);
    },

    handleClick(value) {
      this.$store.commit("SET_ASSET_ID", value.id);

      this.$router.push("/asset/details");
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>

<style>
h4 {
  padding: 16px 16px;
  list-style: none;
  background-color: #bebebe;
  font-weight: bold;
}

ul.breadcrumb {
  padding: 30px 30px;
  list-style: none;
  background-color: #fff;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: green;
}

.ck-editor__editable {
  min-height: 150px;
}
</style>
