<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-card-text class="pt-5">
        <v-card-title>
          <v-col>
            <h1>Assets</h1>
            <div>
              <v-row no-gutters>
                <div class="pb-5 ml-auto mr-5">
                  <v-menu>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        outlined
                        color="green darken-1"
                        dark
                        v-bind="attrs"
                        v-on="on"
                        small
                      >
                        <v-icon left>
                          mdi-chevron-down
                        </v-icon>
                        {{ clickedItem }}
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(item, index) in items"
                        :key="index"
                        @click="setClickedItem(item.title)"
                      >
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
                <div class="mr-5">
                  <v-menu>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        outlined
                        color="green darken-1"
                        dark
                        v-bind="attrs"
                        v-on="on"
                        small
                      >
                        <v-icon left>
                          mdi-chevron-down
                        </v-icon>
                        {{ clickedItem }}
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(item, index) in items"
                        :key="index"
                        @click="setClickedItem(item.title)"
                      >
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>

                <v-btn small tile color="success" >
                  <v-icon>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </v-row>
            </div>

                <div>
              <v-row no-gutters>
                <div class="pb-5 mr-auto mr-5">
                                <label>{{ clickedItem }}</label>

                
                </div>
                <div class="mr-5">
                  <v-btn small tile color="success" @click="add()">
                  <v-icon left>
                    mdi-plus
                  </v-icon>
                  Add new record
                </v-btn>
                </div>
              </v-row>
            </div>
 

         
          </v-col>
        </v-card-title>
      </v-card-text>

      <div class="card-body">
        <table
          id="asset"
          style="width: 100%"
          class="table table-hover table-striped table-bordered dataTable dtr-inline"
          role="grid"
          aria-describedby="example_info"
        >
          <thead>
            <tr role="row">
              <th v-for="(head, index1) in tableData.tableHeader" :key="index1">
                {{ head.label }}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, index) in tableData.tableRow" v-bind:key="index">
              <td>{{ index + 1 }}</td>
              <td class="sorting_1">
                <a @click="handleClick(item)">{{ item.title }}</a>
              </td>
              <td>{{ item.producer }}</td>
              <td>{{ item.director }}</td>
              <td>{{ item.release_date }}</td>
              <td>{{ item.rt_score }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      tableData: {
        tableHeader: [],
        tableRow: [],
        content: {}
      },
      page: 0,
      totalPassengers: 0,
      numberOfPages: 0,
      passengers: [],
      loading: true,
      options: {},
      headers: [
        { text: "Title", value: "title" },
        { text: "Director", value: "director" },
        { text: "Release Date", value: "release_date" },
        { text: "Score", value: "rt_score" }
      ],
      search: "",
      items: [
        { title: "Click Me" },
        { title: "Click Me 1" },
        { title: "Click Me 3" },
        { title: "Click Me 2" }
      ],
      clickedItem: "Dropdown"
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Title", sort: "sorting" },
        { label: "Producer", sort: "sorting" },
        { label: "Director", sort: "sorting" },
        { label: "Release Date", sort: "sorting" },
        { label: "Score", sort: "sorting" }
      ];
    }
  },
  methods: {
    add(){
      this.$router.push('/asset/add')
    },
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          this.passengers = response.data;
          this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#asset").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "Bflrtip",
            scrollX: true,
            buttons: [
              {
                extend: "excel",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "pdf",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "print",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              }
            ]
          });
        });
    },
    setClickedItem(item) {
      this.clickedItem = item;
    },

    handleClick(value) {
      this.$store.commit("SET_ASSET", value);
      this.$router.push("/asset/details");
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>
