.tba-logo{
  height: 80%;
  width: 65%;
  margin-left: 3px;
  background:url(/assets/images/tba_logo.png)
}

table.dataTable thead {
  text-align: center
}

.vertical-nav-menu i.metismenu-icon, .vertical-nav-menu i.metismenu-state-icon {
  opacity: 1;
}

.editLink {
  color: #3f6ad8; 
}

.editLink:hover {
  text-decoration: underline;
}

 td a:hover {
  color: #3f6ad8 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

 td a {
  color: #3f6ad8 !important;
}