<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-card-text class="pt-5">
        <v-card-title>
          <v-col>
            <v-tabs v-model="tab" background-color="primary" dark>
              <v-tab v-for="item in items" :key="item.tab">
                {{ item.tab }}
              </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item v-for="item in items" :key="item.tab">
              
              </v-tab-item>
            </v-tabs-items>

              <v-card flat>
                  <moodle v-show="tab == 1" />
                  <license v-show="tab == 0" />
                  <turnitin v-show="tab == 2" />
                </v-card>
          </v-col>
          
     
        </v-card-title>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import License from "@/views/Admin/License/License";
import Moodle from "@/views/Admin/License/Moodle";
import Turnitin from "@/views/Admin/License/Turnitin";

export default {
  components: { License, Moodle, Turnitin },
  computed: {

  },

  data() {
    return {
      tab: 0,
      items: [{ tab: "License" }, { tab: "Moodle" }, { tab: "Turnitin" }]
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  }
};
</script>

<style>
ul.breadcrumb {
  padding: 12px 0px;
  list-style: none;
  background-color: #fff;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: green;
}
</style>
