<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <div>
        <v-row no-gutters>
          <div class="pb-5 mr-auto mr-5">
            <label>License</label>
          </div>
          <div class="mr-5">
            <v-dialog v-model="modalAdd" persistent max-width="800px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn small tile color="success" v-bind="attrs" v-on="on">
                  <v-icon left>
                    mdi-plus
                  </v-icon>
                  Add new record
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline grey lighten-2">
                  Add New License
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-col>
                      <!-- 1st ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">License Name</label>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Product Key</label>
                        </v-col>
                      </v-row>

                      <!-- 2nd ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <input type="text" class="form-control" />
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <input type="text" class="form-control" />
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col>
                      <!-- 1st ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Vendor</label>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Quantity</label>
                        </v-col>
                      </v-row>

                      <!-- 2nd ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <div class="input-group">
                            <select
                              name="select"
                              id="ic_colour_id"
                              class="form-control"
                              v-model="add.vendor"
                            >
                              <option value="">-Select Vendor-</option>
                              <option
                                v-for="option in vendors"
                                :value="option.id"
                                :key="option.id"
                              >
                                {{ option.name }}
                              </option>
                            </select>
                          </div>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <input type="text" class="form-control" />
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col>
                      <!-- 1st ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold"
                            >Expiration Date</label
                          >
                        </v-col>
                        <v-col class="pl-10 pt-0"> </v-col>
                      </v-row>

                      <!-- 2nd ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <!-- in future, use drop down -->
                          <input type="date" class="form-control" />
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <!-- in future, use date picker -->
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <button
                    class="btn btn-wide btn-secondary "
                    @click="modalAdd = false"
                  >
                    Cancel
                  </button>
                  <button
                    class="btn btn-wide btn-info ml-9 mr-10"
                    @click="modalAdd = false"
                  >
                    Save
                  </button>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </v-row>
      </div>

      <table
        id="license_tbl"
        style="width: 100%"
        class="table table-hover table-striped table-bordered dataTable dtr-inline"
        role="grid"
        aria-describedby="example_info"
      >
        <thead>
          <tr role="row">
            <th v-for="(head, index1) in tableData.tableHeader" :key="index1">
              {{ head.label }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(item, index) in licenses" v-bind:key="index" @click="handleClick(item)">
            <td>{{ index + 1 }}</td>
            <td class="sorting_1">
              {{ item.license_name }}
            </td>
            <td>{{ item.product_key }}</td>
            <td>{{ item.vendor.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.expiration_date }}</td>
          </tr>
        </tbody>
      </table>
      <v-dialog v-model="modalEdit" persistent max-width="800px">
        <v-card>
          <v-card-title class="headline grey lighten-2">
           Edit {{ edit.license_name}}
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-col>
                <!-- 1st ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">License Name</label>
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Product Key</label>
                  </v-col>
                </v-row>

                <!-- 2nd ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input
                      type="text"
                      class="form-control"
                      v-model="edit.license_name"
                    />
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <input
                      type="text"
                      class="form-control"
                      v-model="edit.product_key"
                    />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <!-- 1st ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Vendor</label>
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Quantity</label>
                  </v-col>
                </v-row>

                <!-- 2nd ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <div class="input-group">
                      <select
                        name="select"
                        id="ic_colour_id"
                        class="form-control"
                        v-model="edit.vendor"
                      >
                        <option
                          v-for="option in vendors"
                          :value="option.id"
                          :key="option.id"
                        >
                          {{ option.name }}
                        </option>
                      </select>
                    </div>
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <input
                      type="text"
                      class="form-control"
                      v-model="edit.quantity"
                    />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <!-- 1st ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Expiration Date</label>
                  </v-col>
                  <v-col class="pl-10 pt-0"> </v-col>
                </v-row>

                <!-- 2nd ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <!-- in future, use drop down -->
                    <input
                      type="date"
                      class="form-control"
                      v-model="edit.expiration_date"
                    />
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <!-- in future, use date picker -->
                  </v-col>
                </v-row>
              </v-col>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <button
              class="btn btn-wide btn-secondary "
              @click="modalEdit = false"
            >
              Cancel
            </button>
            <button
              class="btn btn-wide btn-info ml-9 mr-10"
              @click="modalEdit = false"
            >
              Save
            </button>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  name: "DatatableComponent",
  data() {
    return {
      modalAdd: false,
      modalEdit: false,
      licenses: [
        {
          id:1,
          license_name: "Microsoft Office",
          product_key: "R21DCF3TVG4523H",
          vendor: {
            id: 1,
            name: "Vendor 1"
          },
          quantity: 10,
          expiration_date: "2022-01-01"
        },
        {
          id:2,
          license_name: "Microsoft Office",
          product_key: "R21DCF3TVG4523H",
          vendor: {
            id: 2,
            name: "Vendor 2"
          },
          quantity: 10,
          expiration_date: "2022-01-01"
        }
      ],
      add: {
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      edit: {
        id:"",
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      tableData: {
        tableHeader: [],
        content: {}
      },
      assigned_to_toggle: [],
      selected: "A",
      options2: [
        { text: "One", value: "A" },
        { text: "Two", value: "B" },
        { text: "Three", value: "C" }
      ],
      page: 0,
      loading: true,
      options: {},
      vendors: [
        { id: 1, name: "Vendor 1" },
        { id: 2, name: "Vendor 2" },
        { id: 3, name: "Vendor 3" },
        { id: 4, name: "Vendor 4" }
      ]
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "License", sort: "sorting" },
        { label: "Product Key", sort: "sorting" },
        { label: "Vendor", sort: "sorting" },
        { label: "Quantity", sort: "sorting" },
        { label: "Expiration Date", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          //   this.passengers = response.data;
          //   this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#license_tbl").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "Bflrtip",
            scrollX: true,
            buttons: [
              {
                extend: "excel",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "pdf",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "print",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              }
            ]
          });
        });
    },

    handleClick(value) {
     this.edit.id = value.id;
     this.edit.license_name = value.license_name;
     this.edit.product_key = value.product_key;
     this.edit.vendor = value.vendor.id;
     this.edit.quantity = value.quantity;
     this.edit.expiration_date = value.expiration_date;
     this.modalEdit = true;
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>
