<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <div>
        <v-row no-gutters>
          <div class="pb-5 mr-auto mr-5">
            <label>Moodle Accounts</label>
          </div>
          <div class="mr-5">
            <v-dialog v-model="modalAdd" persistent max-width="800px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn small tile color="success" v-bind="attrs" v-on="on">
                  <v-icon left>
                    mdi-plus
                  </v-icon>
                  Add new record
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline grey lighten-2">
                  Add New Moodle Account
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-col>
                      <!-- 1st ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">School</label>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Department</label>
                        </v-col>
                      </v-row>

                      <!-- 2nd ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <input type="text" class="form-control" v-model="add.school_name" disabled/>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <input type="text" class="form-control" v-model="add.department_name" disabled/>
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col>
                      <!-- 1st ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Staff</label>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Username</label>
                        </v-col>
                      </v-row>

                      <!-- 2nd ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <div class="input-group">
                            <select
                              name="select"
                              id="ic_colour_id"
                              class="form-control"
                              v-model="add.staff_id"
                              @change="onChange($event)"
                            >
                              <option value="">-Select Staff-</option>
                              <option
                                v-for="option in staffs"
                                :value="option.id"
                                :key="option.id"
                              >
                                {{ option.name }}
                              </option>
                            </select>
                          </div>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <input type="text"  v-model="add.username" class="form-control" />
                        </v-col>
                      </v-row>
                    </v-col>

                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <button
                    class="btn btn-wide btn-secondary "
                    @click="modalAdd = false"
                  >
                    Cancel
                  </button>
                  <button
                    class="btn btn-wide btn-info ml-9 mr-10"
                    @click="modalAdd = false"
                  >
                    Save
                  </button>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </v-row>
      </div>

      <table
        id="moodle_tbl"
        style="width: 100%"
        class="table table-hover table-striped table-bordered dataTable dtr-inline"
        role="grid"
        aria-describedby="example_info"
      >
        <thead>
          <tr role="row">
            <th v-for="(head, index1) in tableData.tableHeader" :key="index1">
              {{ head.label }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="(item, index) in accounts"
            v-bind:key="index"
            @click="handleClick(item)"
          >
            <td>{{ index + 1 }}</td>
            <td class="sorting_1">
              {{ item.username }}
            </td>
            <td>{{ item.staff.name }}</td>
            <td>{{ item.created_at }}</td>
          </tr>
        </tbody>
      </table>
      <v-dialog v-model="modalEdit" persistent max-width="800px">
              <v-card>
                <v-card-title class="headline grey lighten-2">
                  Edit Moodle Account
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-col>
                      <!-- 1st ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">School</label>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Department</label>
                        </v-col>
                      </v-row>

                      <!-- 2nd ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <input type="text" class="form-control" v-model="edit.school_name" disabled/>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <input type="text" class="form-control" v-model="edit.department_name" disabled/>
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col>
                      <!-- 1st ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Staff</label>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <label class="font-weight-bold">Username</label>
                        </v-col>
                      </v-row>

                      <!-- 2nd ROW -->
                      <v-row no-gutters>
                        <v-col class="pl-10 pt-0">
                          <div class="input-group">
                            <select
                              name="select"
                              id="ic_colour_id"
                              class="form-control"
                              v-model="edit.staff_id"
                              @change="onChange($event)"
                            >
                              <option value="">-Select Staff-</option>
                              <option
                                v-for="option in staffs"
                                :value="option.id"
                                :key="option.id"
                              >
                                {{ option.name }}
                              </option>
                            </select>
                          </div>
                        </v-col>
                        <v-col class="pl-10 pt-0">
                          <input type="text" v-model="edit.username" class="form-control" />
                        </v-col>
                      </v-row>
                    </v-col>

                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <button
                    class="btn btn-wide btn-secondary "
                    @click="modalEdit = false"
                  >
                    Cancel
                  </button>
                  <button
                    class="btn btn-wide btn-info ml-9 mr-10"
                    @click="modalEdit = false"
                  >
                    Update
                  </button>
                </v-card-actions>
              </v-card>
            </v-dialog>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  name: "DatatableComponent",
  data() {
    return {
      modalAdd: false,
      modalEdit: false,
      accounts: [
        {
          id: 1,
          staff: {
            id: 1,
            name: "Siti Zubaidah binti Haji Ismail"
          },
          department: {
            id: 1,
            name: "BSIC"
          },
          school: {
            id: 1,
            name: "School of Computing and Informatics"
          },
          created_at: "2020-01-30",
          username: "lalamisaki"
        },
        {
          id: 2,
          staff: {
            id: 1,
            name: "Siti Zubaidah binti Haji Ismail"
          },
          department: {
            id: 1,
            name: "BSIC"
          },
          school: {
            id: 1,
            name: "School of Computing and Informatics"
          },
          created_at: "2020-01-30",
          username: "lalamisaki"
        },
        {
          id: 3,
          staff: {
            id: 1,
            name: "Siti Zubaidah binti Haji Ismail"
          },
          department: {
            id: 1,
            name: "BSIC"
          },
          school: {
            id: 1,
            name: "School of Computing and Informatics"
          },
          created_at: "2020-01-30",
          username: "lalamisaki"
        }
      ],
      add: {
        username: "",
        staff_id: "",
        department_id: "",
        department_name: "",
        school_id: "",
        school_name: "",

      },
      edit: {
        id: "",
        username: "",
        staff_id: "",
        department_id: "",
        department_name: "",
        school_id: "",
        school_name: "",
      },
      tableData: {
        tableHeader: [],
      },
     options: {},
      staffs: [
        { id: 1, name: "Staff 1", department_id: 1, department_name:'School of Computing and Informatics', school_id:'1', school_name:'BSSIC' },
        { id: 2, name: "Staff 2", department_id: 1, department_name:'School of Computing and Informatics', school_id:'1', school_name:'BSSIC' },
        { id: 3, name: "Staff 3", department_id: 1, department_name:'School of Computing and Informatics', school_id:'1', school_name:'BSSIC' },
        { id: 4, name: "Staff 4", department_id: 1, department_name:'School of Computing and Informatics', school_id:'1', school_name:'BSSIC' }
      ]
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Username", sort: "sorting" },
        { label: "Staff Name", sort: "sorting" },
        { label: "Created At", sort: "sorting" },
       
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.tableData.tableHeader = this.addTableHeader;
          //   this.passengers = response.data;
          //   this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#moodle_tbl").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "Bflrtip",
            scrollX: true,
            buttons: [
              {
                extend: "excel",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "pdf",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "print",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              }
            ]
          });
        });
    },

    handleClick(value) {
      this.edit.id = value.id;
      this.edit.username = value.username;
      this.edit.staff_id = value.staff.id;
      this.edit.department_id = value.department.id;
      this.edit.school_id = value.school.id;
      this.edit.department_name = value.department.name;
      this.edit.school_name = value.school.name;
      this.modalEdit = true;
    },

     onChange(event) {
       this.staffs.forEach((staff, index)=>{
         if(staff.id == event.target.value){
           this.add.department_id = staff.department_id;
           this.add.department_name = staff.department_name;
           this.add.school_id = staff.school_id;
           this.add.school_name = staff.school_name;

         }
       })
      }
  },
  //this will trigger in the onReady State
  created() {
    this.readDataFromAPI();
  }
};
</script>
