<template>
  <v-container fluid tag="section">
    <v-card flat class="my-20">
      <v-card-text class="pt-5">
        <v-card-title>
          <v-col>
            <v-row  no-gutters>
              <h3 class="font-weight-bold">Staff Lists</h3>
              <v-row no-gutters>
                <div class="pb-5 mr-auto mr-5"></div>
                <div class="mr-5">
                  <v-btn small tile color="success" @click="add()">
                    <v-icon left>
                      mdi-plus
                    </v-icon>
                    Add new record
                  </v-btn>
                </div>
              </v-row>
            </v-row>

            <hr />
            <div class="pt-5">
              <v-row no-gutters>
                Filter by:
                <div class="pb-0 ml-auto mr-5">
                  <v-menu>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        outlined
                        color="green darken-1"
                        dark
                        v-bind="attrs"
                        v-on="on"
                        small
                      >
                        <v-icon left>
                          mdi-chevron-down
                        </v-icon>
                        {{ clickedDepartment }}
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(item, index) in departments"
                        :key="index"
                        @click="setClickedDepartment(item.title)"
                      >
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
                <div class="mr-5">
                  <v-menu>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        outlined
                        color="green darken-1"
                        dark
                        v-bind="attrs"
                        v-on="on"
                        small
                      >
                        <v-icon left>
                          mdi-chevron-down
                        </v-icon>
                        {{ clickedSchool }}
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(item, index) in schools"
                        :key="index"
                        @click="setClickedDepartment(item.title)"
                      >
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>

              </v-row>
            </div>
          </v-col>
        </v-card-title>
      </v-card-text>
      
      <div class="card-body p-0 pl-10 pr-5">
        <table
          id="asset"
          style="width: 100%"
          class="table table-hover table-striped table-bordered dataTable dtr-inline"
          role="grid"
          aria-describedby="example_info"
        >
          <thead>
            <tr role="row">
              <th v-for="(head, index1) in tableData.tableHeader" :key="index1">
                {{ head.label }}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, index) in tableData.tableRow" v-bind:key="index"  @click="handleClick(item.roll_number)">
              <td>{{ item.roll_number }}</td>
              <td class="sorting_1">
                <a @click="handleClick(item.roll_number)">{{ item.full_name }}</a>
              </td>
              <td>{{ item.department }}</td>
              <td>{{ item.date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      tableData: {
        tableHeader: [],
        tableRow: [],
        content: {}
      },
      page: 0,
      totalPassengers: 0,
      numberOfPages: 0,
      staffs: [],
      loading: true,
      options: {},
      departments: [
        { title: "Click Me" },
        { title: "Click Me 1" },
        { title: "Click Me 3" },
        { title: "Click Me 2" }
      ],
       schools: [
        { title: "Click Me" },
        { title: "Click Me 1" },
        { title: "Click Me 3" },
        { title: "Click Me 2" }
      ],
      clickedDepartment: "Department",
      clickedSchool: "School"

    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "Staff ID", sort: "sorting_asc" },
        { label: "Full Name", sort: "sorting" },
        { label: "Department", sort: "sorting" },
        { label: "Date", sort: "sorting" },
      ];
    }
  },
  methods: {
    add() {
      this.$router.push("/asset/add");
    },
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, departmentsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          this.staffs = [
            {
              id:1,
              roll_number:'B201271408',
              full_name:'Azrina Ahmad',
              department:'School of Computing',
              date:'01-01-2017'
            },
             {
              id:2,
              roll_number:'B201371408',
              full_name:'Awang',
              department:'School of Computing',
              date:'01-01-2017'
            },
             {
              id:3,
              roll_number:'B201471408',
              full_name:'Dayang',
              department:'School of Computing',
              date:'01-01-2017'
            },
             {
              id:4,
              roll_number:'B201571408',
              full_name:'Ali',
              department:'School of Computing',
              date:'01-01-2017'
            },
             {
              id:5,
              roll_number:'B201971408',
              full_name:'Azri Ahmad',
              department:'School of Computing',
              date:'01-01-2017'
            }
          ]
          this.tableData.tableRow = this.staffs;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#asset").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "Bflrtip",
            scrollX: true,
            buttons: [
              {
                extend: "excel",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "pdf",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "print",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              }
            ]
          });
        });
    },
    setClickedDepartment(item) {
      this.clickedDepartment = item;
    },
    setClickedSchool(item) {
      this.clickedSchool = item;
    },

    handleClick(value) {
      this.$router.push("/staff/details/" + value);
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>
