<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-col>
        <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-12 pt-0">
              <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Staff ID : </span
                  ><span>{{ this.$route.params.staff_id }}</span>
                </h6>
              </div>
               <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Full Name : </span
                  ><span>{{ staff_data.full_name }}</span>
                </h6>
              </div>
               <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Desgination : </span
                  ><span>{{ staff_data.desgination }}</span>
                </h6>
              </div>
               <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Department : </span
                  ><span>{{ staff_data.department.name }}</span>
                </h6>
              </div>
              <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">School : </span
                  ><span>{{ staff_data.school.name }}</span>
                </h6>
              </div>
               
                <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Email : </span
                  ><span>{{ staff_data.email }}</span>
                </h6>
              </div>
                <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Moodle Account : </span
                  ><span>{{ staff_data.moodle }}</span>
                </h6>
              </div>
                <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Turnitin Account : </span
                  ><span>{{ staff_data.turnitin }}</span>
                </h6>
              </div>
               <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Room No : </span
                  ><span>{{ staff_data.room_no }}</span>
                </h6>
              </div>
               <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">IP Address : </span
                  ><span>{{ staff_data.ip_address }}</span>
                </h6>
              </div>
               <div class="mt-4">
                <h6>
                  <span class="font-weight-bold">Contact : </span
                  ><span>{{ staff_data.contact }}</span>
                </h6>
              </div>
            </v-col>
            
          </v-row>

        <!-- 2nd ROW -->
      
      </v-col>

     
     

    
    

    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
// import QrcodeVue from 'qrcode.vue';
export default {
  name: "DatatableComponent",
  //   components: {
  //       QrcodeVue,
  //     },
  data() {
    return {
      value: "https://example.com",
      size: 300,
      staff_data:{
        id: this.$route.params.staff_id,
        full_name: 'Azrina Ahmad',
        desgination:'Lecturer',
        email:'B201271408@staff.utb.edu.bn',
        department:{
          id:1,
          name:'School of Computing'
        },
        room_no:'1F.61',
        school: {
          id:1,
          name:'Computing'
        },
        ip_address: '192.165.0.50',
        moodle:'B201271408',
        turnitin:'Azrina',
        contact:'+6738302154'
      }
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Title", sort: "sorting" },
        { label: "Producer", sort: "sorting" },
        { label: "Director", sort: "sorting" },
        { label: "Release Date", sort: "sorting" },
        { label: "Score", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          this.passengers = response.data;
          this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#asset").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "flrtip",
            scrollX: true
          });
        });
    },
    setClickedItem(item) {
      this.clickedItem = item;
    },

    handleClick(value) {
      this.$store.commit("SET_ASSET_ID", value.id);

      this.$router.push("/asset/details");
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>

<style>
a {
  color: blue;
}
</style>
