<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <v-card-text class="pt-5">
        <v-card-title>
          <v-col>
            <v-col>
              <v-row class="py-3">
                <h3 class="font-weight-bold">View Staff Info</h3>
               
                <v-btn small tile color="success"  class="btn ml-auto" @click="editAsset()">
                  <v-icon>
                    mdi-border-color
                  </v-icon>
                </v-btn>
              </v-row>

            
            </v-col>
            <v-tabs v-model="tab" background-color="primary" dark>
              <v-tab v-for="item in items" :key="item.tab">
                {{ item.tab }}
              </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item v-for="item in items" :key="item.tab">
                
              </v-tab-item>
            </v-tabs-items>
            <v-card flat>
                  <staff-detail v-if="tab == 0"   />
                  <staff-asset v-if="tab == 1" />
                </v-card>
          </v-col>
        </v-card-title>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import StaffDetail from "@/views/Admin/Staff/StaffDetail";
import StaffAsset from "@/views/Admin/Staff/StaffAsset";

export default {
  components: { StaffDetail, StaffAsset },

  data() {
    return {
      tab: null,
      items: [{ tab: "Info" }, { tab: "Asset" }]
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
    editAsset(){
       this.$router.push('/staff/edit/' +  this.$route.params.staff_id)
    }
  }
};
</script>

<style>
ul.breadcrumb {
  padding: 12px 0px;
  list-style: none;
  background-color: #fff;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: green;
}
</style>
