<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
      <div>
        <v-row no-gutters>
          <div class="pb-5 mr-auto mr-5"></div>
          <div class="mr-5">
            <v-dialog v-model="modalAdd" persistent max-width="800px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn small tile color="success" v-bind="attrs" v-on="on">
                  <v-icon left>
                    mdi-plus
                  </v-icon>
                  Add New Asset
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline grey lighten-2">
                 Assign New Asset
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-col>
                      <div
                        v-for="(input, index) in add_assets"
                        :key="`phoneInput-${index}`"
                        class="input wrapper flex items-center"
                      >
                        <v-col no-gutters>
                          <!-- 1st ROW -->
                          <v-row no-gutters>
                            <v-col class="pl-10 pt-0">
                              <label class="font-weight-bold">Asset Type</label>
                            </v-col>
                            <v-col class="pl-10 pt-0">
                              <label class="font-weight-bold">Asset</label>
                            </v-col>
                          </v-row>

                          <!-- 2nd ROW -->
                          <v-row no-gutters>
                            <v-col class="pl-10 pt-0">
                              <div class="input-group">
                                <select
                                  class="form-control"
                                  v-model="input.asset_type_id"
                                  @change="onChange($event, index)"
                                >
                                  <option
                                    v-for="type in asset_type"
                                    :value="type.id"
                                    :key="type.id"
                                  >
                                    {{ type.name }}
                                  </option>
                                </select>
                              </div>
                            </v-col>
                            <v-col class="pl-10 pt-0">
                              <select
                                class="form-control"
                                v-model="input.asset_id"
                              >
                                <option
                                  v-for="asset in input.asset_lists"
                                  :value="asset.id"
                                  :key="asset.id"
                                >
                                  {{ asset.name }}
                                </option>
                              </select>
                            </v-col>

                            <svg
                              @click="addField(input, add_assets)"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              width="24"
                              height="24"
                              class="ml-2 cursor-pointer"
                            >
                              <path fill="none" d="M0 0h24v24H0z" />
                              <path
                                fill="green"
                                d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"
                              />
                            </svg>

                            <!--          Remove Svg Icon-->
                            <svg
                              v-show="add_assets.length > 1"
                              @click="removeField(index, add_assets)"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              width="24"
                              height="24"
                              class="ml-2 cursor-pointer"
                            >
                              <path fill="none" d="M0 0h24v24H0z" />
                              <path
                                fill="#EC4899"
                                d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"
                              />
                            </svg>
                          </v-row>
                        </v-col>
                      </div>
                    </v-col>
                    <v-col> </v-col>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <button
                    class="btn btn-wide btn-secondary "
                    @click="modalAdd = false"
                  >
                    Cancel
                  </button>
                  <button
                    class="btn btn-wide btn-info ml-9 mr-10"
                    @click="modalAdd = false"
                  >
                    Save
                  </button>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </v-row>
      </div>

      <table
        id="license_tbl"
        style="width: 100%"
        class="table table-hover table-striped table-bordered dataTable dtr-inline"
        role="grid"
        aria-describedby="example_info"
      >
        <thead>
          <tr role="row">
            <th v-for="(head, index1) in tableData.tableHeader" :key="index1">
              {{ head.label }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="(item, index) in assets"
            v-bind:key="index"
            @click="handleClick(item)"
          >
            <td>{{ index + 1 }}</td>
            <td>{{ item.id }}</td>
            <td class="sorting_1">
              {{ item.name }}
            </td>
            <td>{{ item.model }}</td>
            <td>{{ item.asset_type }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.date_procured }}</td>
          </tr>
        </tbody>
      </table>
      <v-dialog v-model="modalEdit" persistent max-width="800px">
        <v-card>
          <v-card-title class="headline grey lighten-2">
            Edit {{ edit.license_name }}
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-col>
                <!-- 1st ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">License Name</label>
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Product Key</label>
                  </v-col>
                </v-row>

                <!-- 2nd ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <input
                      type="text"
                      class="form-control"
                      v-model="edit.license_name"
                    />
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <input
                      type="text"
                      class="form-control"
                      v-model="edit.product_key"
                    />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <!-- 1st ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Vendor</label>
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Quantity</label>
                  </v-col>
                </v-row>

                <!-- 2nd ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <div class="input-group">
                      <select
                        name="select"
                        id="ic_colour_id"
                        class="form-control"
                        v-model="edit.vendor"
                      >
                        <option
                          v-for="option in vendors"
                          :value="option.id"
                          :key="option.id"
                        >
                          {{ option.name }}
                        </option>
                      </select>
                    </div>
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <input
                      type="text"
                      class="form-control"
                      v-model="edit.quantity"
                    />
                  </v-col>
                </v-row>
              </v-col>

              <v-col>
                <!-- 1st ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <label class="font-weight-bold">Expiration Date</label>
                  </v-col>
                  <v-col class="pl-10 pt-0"> </v-col>
                </v-row>

                <!-- 2nd ROW -->
                <v-row no-gutters>
                  <v-col class="pl-10 pt-0">
                    <!-- in future, use drop down -->
                    <input
                      type="date"
                      class="form-control"
                      v-model="edit.expiration_date"
                    />
                  </v-col>
                  <v-col class="pl-10 pt-0">
                    <!-- in future, use date picker -->
                  </v-col>
                </v-row>
              </v-col>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <button
              class="btn btn-wide btn-secondary "
              @click="modalEdit = false"
            >
              Cancel
            </button>
            <button
              class="btn btn-wide btn-info ml-9 mr-10"
              @click="modalEdit = false"
            >
              Save
            </button>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  name: "DatatableComponent",
  data() {
    return {
      modalAdd: false,
      phoneNumbers: [{ phone: "" }],
      add_assets: [
        {
          asset_type_id: "",
          asset_id: "",
          asset_lists: []
        }
      ],
      asset_type: [
        {
          id: 1,
          name: "Laptop"
        },
        {
          id: 2,
          name: "PC/Desktop"
        },
        {
          id: 3,
          name: "Printer"
        }
      ],
      assets_available: [
        {
          id: "2baf70d1-42bb-4437-b551-e5fed5a87abe",
          name: 'Macbook Pro 13"',
          model: "C75DC7232",
          serial_number: "4CE0460D0G",
          po_number: "PO1101",
          asset_type_id: 1,
          date_procured: "01/01/2020",
          vendor: "Syarikat Vendor 1",
          mac_address: "00:1B:44:11:3A:B7",
          warranty: 36,
          current_os: "MacOS 10.15",
          status: "In Use",
          remarks:
            "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
        },
        {
          id: "2baf70d1-42bb-4437-b551-e5fed5a87abe",
          name: 'Macbook Pro 13"',
          model: "C75DC7232",
          serial_number: "4CE0460D0G",
          po_number: "PO1101",
          asset_type_id: 2,
          date_procured: "01/01/2020",
          vendor: "Syarikat Vendor 1",
          mac_address: "00:1B:44:11:3A:B7",
          warranty: 36,
          current_os: "MacOS 10.15",
          status: "In Use",
          remarks:
            "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
        },
        {
          id: "2baf70d1-42bb-4437-b551-e5fed5a87abe",
          name: 'Macbook Pro 13"',
          model: "C75DC7232",
          serial_number: "4CE0460D0G",
          po_number: "PO1101",
          asset_type_id: 3,
          date_procured: "01/01/2020",
          vendor: "Syarikat Vendor 1",
          mac_address: "00:1B:44:11:3A:B7",
          warranty: 36,
          current_os: "MacOS 10.15",
          status: "In Use",
          remarks:
            "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
        }
      ],
      modalEdit: false,
      assets: [
        {
          id: "2baf70d1-42bb-4437-b551-e5fed5a87abe",
          name: 'Macbook Pro 13"',
          model: "C75DC7232",
          serial_number: "4CE0460D0G",
          po_number: "PO1101",
          asset_type: "Laptop",
          date_procured: "01/01/2020",
          vendor: "Syarikat Vendor 1",
          mac_address: "00:1B:44:11:3A:B7",
          warranty: 36,
          current_os: "MacOS 10.15",
          status: "In Use",
          remarks:
            "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
        },

        {
          id: "32weds-42bb-4437-b551-e5fed5a87abe",
          name: 'Macbook Pro 13"',
          model: "C75DC7232",
          serial_number: "4CE0460D0G",
          po_number: "PO1101",
          asset_type: "Laptop",
          date_procured: "01/01/2020",
          vendor: "Syarikat Vendor 1",
          mac_address: "00:1B:44:11:3A:B7",
          warranty: 36,
          current_os: "MacOS 10.15",
          status: "In Use",
          remarks:
            "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
        },
        {
          id: "dfgdrgd-42bb-4437-b551-e5fed5a87abe",
          name: 'Macbook Pro 13"',
          model: "C75DC7232",
          serial_number: "4CE0460D0G",
          po_number: "PO1101",
          asset_type: "Laptop",
          date_procured: "01/01/2020",
          vendor: "Syarikat Vendor 1",
          mac_address: "00:1B:44:11:3A:B7",
          warranty: 36,
          current_os: "MacOS 10.15",
          status: "In Use",
          remarks:
            "CPU: 1.4GHz Intel Core i5\nGraphics: Intel Iris Plus Graphics 645\nRAM: 16GB (2,133MHz LPDDR3)\nScreen: 13.3-inch\nStorage: 2TB SSD\nConnectivity: 802.11ac Wi-F, Bluetooth 5.0\nCamera: 720p FaceTime HD webcam"
        }
      ],
      add: {
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      edit: {
        id: "",
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      tableData: {
        tableHeader: [],
        content: {}
      },
      assigned_to_toggle: [],
      selected: "A",
      options2: [
        { text: "One", value: "A" },
        { text: "Two", value: "B" },
        { text: "Three", value: "C" }
      ],
      page: 0,
      loading: true,
      options: {},
      vendors: [
        { id: 1, name: "Vendor 1" },
        { id: 2, name: "Vendor 2" },
        { id: 3, name: "Vendor 3" },
        { id: 4, name: "Vendor 4" }
      ]
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Asset ID", sort: "sorting" },
        { label: "Name", sort: "sorting" },
        { label: "Status", sort: "sorting" },
        { label: "Type", sort: "sorting" },
        { label: "Model", sort: "sorting" },
        { label: "Year Procured/Leased", sort: "sorting" }
      ];
    }
  },
  methods: {
    onChange(event, i) {
      let tempArr = [];
      this.assets_available.forEach(asset => {
        if (asset.asset_type_id == event.target.value) {
          tempArr.push(asset);
        }
      });

      this.add_assets[i].asset_lists = tempArr;
    },
    addField(value, fieldType) {
      if (value.asset_type_id != "") {
        fieldType.push({ value: "" });
      }
    },
    removeField(index, fieldType) {
      fieldType.splice(index, 1);
    },
    //Reading data from API method.
    readDataFromAPI() {
      this.loading = true;
      const { page, itemsPerPage } = this.options;
      let pageNumber = page - 1;
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          //   this.passengers = response.data;
          //   this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#license_tbl").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "Bflrtip",
            scrollX: true,
            buttons: [
              {
                extend: "excel",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "pdf",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "print",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              }
            ]
          });
        });
    },

    handleClick(value) {
      this.edit.id = value.id;
      this.edit.license_name = value.license_name;
      this.edit.product_key = value.product_key;
      this.edit.vendor = value.vendor.id;
      this.edit.quantity = value.quantity;
      this.edit.expiration_date = value.expiration_date;
      this.modalEdit = true;
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>
