<template>
  <div>
    <v-container fluid tag="section">
      <h4 class="font-weight-bold">Edit Staff Details</h4>

      <v-card flat class="my-0 mt-0">
        <div class="ml-8 mt-2">
          <ul class="breadcrumb">
            <li>
              <a href="#" @click="back(-1)"
                >View {{ staff_data.full_name }} Details</a
              >
            </li>
            <li>Edit {{ staff_data.full_name }}</li>
          </ul>
        </div>

        <div class="card-body mx-8">
          <v-row no-gutters>
            <v-col>
              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Name</label>
                <input
                  type="text"
                  v-model="staff_data.full_name"
                  class="form-control"
                />
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Department</label>
                <select
                  name="select"
                  id="defendant_category"
                  class="form-control"
                  v-model="staff_data.department.id"
                  @change="onChange($event)"
                >
                  <option
                    v-for="department in threshold.departments"
                    :value="department.id"
                    :key="department.id"
                  >
                    {{ department.name }}
                  </option>
                </select>
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Email</label>
                <input
                  type="text"
                  v-model="staff_data.email"
                  class="form-control"
                />
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Moodle Account</label>
                <input
                  type="text"
                  v-model="staff_data.moodle"
                  class="form-control"
                />
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Room No</label>
                <input
                  type="text"
                  v-model="staff_data.room_no"
                  class="form-control"
                />
              </div>
            </v-col>
            <v-col>
              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Designation</label>
                <input
                  type="text"
                  v-model="staff_data.designation"
                  class="form-control"
                />
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">School</label>
                <select
                  name="select"
                  id="defendant_category"
                  class="form-control"
                  v-model="staff_data.school.id"
                >
                  <option
                    v-for="school in schools_by_dept"
                    :value="school.id"
                    :key="school.id"
                  >
                    {{ school.name }}
                  </option>
                </select>
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Contact</label>
                <input
                  type="text"
                  v-model="staff_data.contact"
                  class="form-control"
                />
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">Turnitin Account</label>
                <input
                  type="text"
                  v-model="staff_data.turnitin"
                  class="form-control"
                />
              </div>

              <div class="col-md-8 col-lg-8 card-body ml-3">
                <label class="font-weight-bold">IP Address</label>
                <input
                  type="text"
                  v-model="staff_data.ip_address"
                  class="form-control"
                  disabled
                />
              </div>
            </v-col>
          </v-row>
        </div>

        <v-row class="card-body flex-row-reverse mb-10">
          <button class="btn btn-wide btn-info ml-9 mr-10" @click="onUpdate()">
            Update
          </button>
          <button class="btn btn-wide btn-secondary ">
            Cancel
          </button>
        </v-row>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";

// import QrcodeVue from 'qrcode.vue';
export default {
  name: "DatatableComponent",
  data() {
    return {
      staff_data: {
        id: this.$route.params.staff_id,
        full_name: "Azrina Ahmad",
        designation: "Lecturer",
        email: "B201271408@staff.utb.edu.bn",
        department: {
          id: 1,
          name: "School of Computing"
        },
        room_no: "1F.61",
        school: {
          id: 1,
          name: "Computing"
        },
        ip_address: "192.165.0.50",
        moodle: "B201271408",
        turnitin: "Azrina",
        contact: "+6738302154"
      },
      threshold: {
        departments: [
          {
            id: 1,
            name: "Department 1"
          },
          {
            id: 2,
            name: "Department 2"
          },
          {
            id: 3,
            name: "Department 3"
          },
          {
            id: 4,
            name: "Department 4"
          },
          {
            id: 5,
            name: "Department 5"
          }
        ],
        schools: [
          {
            id: 1,
            name: "School 1",
            department_id: 1
          },
          {
            id: 2,
            name: "School 2",
            department_id: 1
          },
          {
            id: 3,
            name: "School 3",
            department_id: 3
          },
          {
            id: 4,
            name: "School 4",
            department_id: 2
          },
          {
            id: 5,
            name: "School 5",
            department_id: 4
          },
          {
            id: 6,
            name: "School 6",
            department_id: 5
          }
        ],

        schools_by_dept: []
      }
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },

  methods: {
    onChange(event) {
      console.log(event.target.value);
      let tempArr = [];
      this.threshold.schools.forEach(school => {
        if (school.department_id == event.target.value) {
          tempArr.push(school);
        }
      });

      this.schools_by_dept = tempArr;
    },
    //Reading data from API method.
    readDataFromAPI() {
      // this.loading = true;
      // const { page, itemsPerPage } = this.options;
      axios.get("https://ghibliapi.herokuapp.com/films").then(response => {
        //Then injecting the result to datatable parameters.
        // this.totalPassengers = response.data.totalPassengers;
        // this.numberOfPages = response.data.totalPages;
      });
    },

    back(backTo) {
      this.$router.go(backTo);
    },

    onUpdate() {
      let updateData = {
        id: this.staff_data.id,
        full_name: this.staff_data.full_name,
        designation: this.staff_data.designation,
        email: this.staff_data.email,
        contact: this.staff_data.contact,
        moodle: this.staff_data.moodle,
        turnitin: this.staff_data.turnitin,
        room_no: this.staff_data.room_no,
        department_id: this.staff_data.department.id,
        school_id: this.staff_data.school.id
      };

      console.log(JSON.stringify(updateData));
    }
  },
  //this will trigger in the onReady State
  created() {
    this.readDataFromAPI();

    let tempArr = [];
    this.threshold.schools.forEach(school => {
      if (school.department_id == this.staff_data.department.id) {
        tempArr.push(school);
      }
    });

    this.schools_by_dept = tempArr;
  }
};
</script>

<style>
h4 {
  padding: 16px 16px;
  list-style: none;
  background-color: #bebebe;
  font-weight: bold;
}

ul.breadcrumb {
  padding: 25px 30px 0px 30px;
  list-style: none;
  background-color: #fff;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: green;
}
</style>
