<template>
  <div>
    <v-container fluid tag="section">
      <h4>Edit Ticket {{ issue_data.id }}</h4>

      <v-card flat class="my-0 mt-0">
        <div class="ml-4 mt-2">
          <ul class="breadcrumb">
            <li><a href="#" @click="back(-1)">View Tickets </a></li>
            <li>Ticket Details</li>
          </ul>
        </div>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-12 pt-0">
              <div class="col-sm-6 my-1">
                <h6>
                  <span class="font-weight-bold">Staff Name : </span
                  ><span>{{ issue_data.staff.name }}</span>
                </h6>
              </div>
            </v-col>
          </v-row>

          <v-row no-gutters>
            <v-col class="pl-12 pt-0">
              <div class="col-sm-6 my-1">
                <h6>
                  <span class="font-weight-bold">Issue Type : </span
                  ><span>{{ issue_data.type.name }}</span>
                </h6>
              </div>
            </v-col>
          </v-row>

          <v-row no-gutters>
            <v-col class="pl-12 pt-0">
              <div class="col-sm-6 my-1">
                <h6>
                  <span class="font-weight-bold">Submitted On : </span
                  ><span>{{
                    issue_data.submitted_on | moment("DD MMM YYYY")
                  }}</span>
                </h6>
              </div>
            </v-col>
          </v-row>

          <v-row no-gutters>
            <v-col class="pl-12 pt-0">
              <div class="col-sm-6 my-1">
                <h6>
                  <span class="font-weight-bold">Description : </span
                  ><span>{{ issue_data.description }}</span>
                </h6>
              </div>
            </v-col>
          </v-row>

          <v-row no-gutters v-if="issue_data.ticket_status.name != 'Closed'">
            <v-col class="pl-12 pt-0">
              <div class="col-sm-6 my-1">
                <h6>
                  <span class="font-weight-bold">Status :</span>
                </h6>
                <select
                  name="select"
                  id="issue_type"
                  class="form-control"
                  v-model="issue_data.ticket_status.id"
                >
                  <option
                    v-for="option in ticket_types"
                    :value="option.id"
                    :key="option.id"
                  >
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </v-col>
          </v-row>

          <v-row no-gutters v-else>
            <v-col class="pl-12 pt-0">
              <div class="col-sm-6 my-1">
                <h6>
                  <span class="font-weight-bold">Status : </span
                  ><span>{{ issue_data.ticket_status.name }}</span>
                </h6>
              </div>
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <!-- 1st ROW -->
          <v-row no-gutters>
            <v-col class="pl-10 pt-0">
              <div class="col-md-9 col-lg-9">
                <div class="mb-3">
                  <v-row no-gutters>
                    <div class="row">
                      <div class="card-body">
                        <h6 class="mb-3 font-weight-bold">
                          Remarks
                        </h6>

                        <hr />

                        <div class="row">
                          <div class="col-sm-6 my-1">
                            <div
                              v-for="remark in issue_data.remarks"
                              :value="remark"
                              :key="remark.id"
                              style="margin-bottom: 20px"
                            >
                              <v-col> </v-col>
                              <!-- <p> -->
                              <span
                                class="vHtml"
                                v-html="remark.description"
                              /><br />
                              <span style="color: blue"
                                >{{ remark.created_at }}, {{ remark.posted_by }}
                              </span>
                              <!-- </p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-row>

                  <ckeditor
                    :editor="editor"
                    v-model="remarks"
                    :config="editorConfig"
                  ></ckeditor>

                  <v-row class="mb-9 mt-5 d-flex flex-row-reverse ">
                    <button class="btn btn-wide btn-info ml-9 mr-10">
                      Update
                    </button>
                    <button class="btn btn-wide btn-secondary" @click="back(-1)">
                      Cancel
                    </button>
                  </v-row>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue";
import moment from "moment";

// import QrcodeVue from 'qrcode.vue';
export default {
  name: "DatatableComponent",
  components: {
    ckeditor: CKEditor.component
  },
  //   components: {
  //       QrcodeVue,
  //     },
  data() {
    return {
      editorConfig: {
        // The configuration of the editor.
      },
      editor: ClassicEditor,
      remarks: "",
      value: "https://example.com",
      size: 300,
      issue_data: {
        id: 2,
        staff: {
          id: 1,
          name: "Siti Zubaidah binti Haji Ismail"
        },
        asset: {
          id: 1,
          name: 'Macbook Pro 13"'
        },
        type: {
          id: 1,
          name: "Broken"
        },
        submitted_on: "2021-12-02",
        description: "Lorem ipsum",
        assigned_to: {
          id: 1,
          name: "Technician 1"
        },
        ticket_status: {
          id: 3,
          name: "On-Hold"
        },
        remarks: [
          {
            id: 1,
            description: "Inspection done. Need to follow up with vendor",
            posted_by: "Technician 1",
            created_at: "2020-12-15"
          },
          {
            id: 2,
            description: "Item sent to vendor",
            posted_by: "Technician 1",
            created_at: "2020-12-18"
          }
        ]
      },

      ticket_types: [
        { id: 1, name: "Open" },
        { id: 2, name: "Assigned" },
        { id: 3, name: "On-Hold" },
        { id: 4, name: "Overdue" },
        { id: 5, name: "Closed" }
      ]
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "No.", sort: "sorting_asc" },
        { label: "Title", sort: "sorting" },
        { label: "Producer", sort: "sorting" },
        { label: "Director", sort: "sorting" },
        { label: "Release Date", sort: "sorting" },
        { label: "Score", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      axios.get("https://ghibliapi.herokuapp.com/films").then(response => {});
    },
    setClickedItem(item) {
      this.clickedItem = item;
    },

    back(backTo) {
      this.$router.go(backTo);
    }
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
  }
};
</script>

<style>
h4 {
  padding: 16px 16px;
  list-style: none;
  background-color: #bebebe;
  font-weight: bold;
}

ul.breadcrumb {
  padding: 30px 30px;
  list-style: none;
  background-color: #fff;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: green;
}

.ck-editor__editable {
  min-height: 150px;
}
</style>
