<template>
  <v-container fluid tag="section">
    <v-card flat class="my-0">
     
      <div class="row">
        <div class="col-md-9">
          <v-row no-gutters>
            <div class="pb-5 mr-auto mr-5">
              <label>{{getTitle()}} Tickets</label>
            </div>
            <div class="mr-5">
                <v-dialog v-model="modalAdd" persistent max-width="800px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn small tile color="success" v-bind="attrs" v-on="on">
                    <v-icon left>
                      mdi-plus
                    </v-icon>
                    New Ticket
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title class="headline grey lighten-2">
                    New Ticket
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-col>
                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <label class="font-weight-bold">Staff Name</label>
                          </v-col>
                        </v-row>

                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <input type="text" class="form-control" />
                          </v-col>
                        </v-row>
                      </v-col>

                      <v-col>
                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <label class="font-weight-bold">Select Asset</label>
                          </v-col>
                        </v-row>

                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <input type="text" class="form-control" />
                          </v-col>
                        </v-row>
                      </v-col>

                      <v-col>
                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <label class="font-weight-bold">Issue Type</label>
                          </v-col>
                        </v-row>

                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <input type="text" class="form-control" />
                          </v-col>
                        </v-row>
                      </v-col>

                      <v-col>
                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <label class="font-weight-bold">Description</label>
                          </v-col>
                        </v-row>

                        <v-row no-gutters>
                          <v-col class="pl-10 pt-0">
                            <ckeditor
                              :editor="editor"
                              v-model="remarks"
                              :config="editorConfig"
                            ></ckeditor>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <button
                      class="btn btn-wide btn-secondary "
                      @click="modalAdd = false"
                    >
                      Cancel
                    </button>
                    <button
                      class="btn btn-wide btn-info ml-9 mr-10"
                      @click="modalAdd = false"
                    >
                      Save
                    </button>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </div>
          </v-row>

          <table
            id="issue_tbl"
            style="width: 100%"
            class="table table-hover table-striped table-bordered dataTable dtr-inline"
            role="grid"
            aria-describedby="example_info"
          >
            <thead>
              <tr role="row">
                <th
                  v-for="(head, index1) in tableData.tableHeader"
                  :key="index1"
                >
                  {{ head.label }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr
                v-for="(item, index) in request_tickets"
                v-bind:key="index"
                @click="handleClick(item.id)"
              >
                <td>{{ item.id }}</td>
                 <td class="sorting_1">
                <a>{{ item.staff.name }}</a>
                </td>
                <td>{{ item.asset.name }}</td>
                <td>{{ item.assigned_to.name }}</td>
                <td>{{ item.ticket_status.name }}</td>
                <td>{{ item.submitted_on }}</td>

              </tr>
            </tbody>
          </table>
        </div>

         <div class="col-md-3 my-auto">
          <div class="row mt-8 " right>
            <div class="col-lg-12 ">
              <div class="main-card mb-8 card">
                <div class="card-header-tab card-header">
                     <label class="text-capitalize"
                      >Issue Tickets Report Summary</label>
                 
                </div>

                <div class="mx-auto">
                 <v-btn-toggle v-model="assigned_to_toggle">
                <v-btn active-class="bb" class="mt-2 ml-auto mb-2" style="width: 100%" v-for="category in threshold" :key="category.name">
                  <label class="text-capitalize">{{  category.name }}</label>
                  <div class="numberCircle">{{ category.value }}</div>
                </v-btn>
               
              </v-btn-toggle>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>

     <div class="col-md-12 col-lg-12">
          <div class="main-card mb-3 card">
            <div class="card-header-tab card-header">
              <div class="card-header-title">
                Issue Tickets Report Summary
              </div>
            </div>

            <div class="card-body" id="chart">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12  col-xs-12">
                  <div id="issueChart" style="height: 350px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue";
export default {
  name: "DatatableComponent",
  components: {
    ckeditor: CKEditor.component
  },
  data() {
    
    return {
       editorConfig: {
        // The configuration of the editor.
      },
      editor: ClassicEditor,
      remarks: "",
    threshold: [
         {
                  name: "All",
                  value: 173
                },
                {
                  name: "Open",
                  value: 21
                },
                {
                  name: "Assigned",
                  value: 59
                },
                {
                  name: "On-Hold",
                  value: 45
                },
                {
                  name: "Overdue",
                  value: 0
                },
                {
                  name: "Closed",
                  value: 30
                }
    ],
     assigned_to_toggle: 0,
      option: [],
      data: {
        option: {
          tooltip: {
            trigger: "item",
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
            orient: "vertical",
            right: 0
          },
          series: [
            {
              name: "Issue Ticket Reports",
              type: "pie",
              radius: ["50%", "80%"],
              avoidLabelOverlap: true,
              label: {
                show: true,
                position: "left",
                formatter: "{b}: {c}"
              },
              emphasis: {
                label: {
                  show: false,
                  fontSize: "10"
                }
              },
              labelLine: {
                show: true
              },
              data: [
                {
                  name: "Open",
                  value: 173
                },
                {
                  name: "Assigned",
                  value: 59
                },
                {
                  name: "On-Hold",
                  value: 45
                },
                {
                  name: "Overdue",
                  value: 0
                },
                {
                  name: "Closed",
                  value: 30
                }
              ]
            }
          ]
        }
      },
      modalAdd: false,
      modalEdit: false,
      request_tickets: [
        {
          id:1,
          staff:{
            id:1,
            name:'Siti Zubaidah binti Haji Ismail',
          },
          asset: {
            id:1,
            name:'Macbook Pro 13"'
          },
          type: {
            id:1,
            name:'Broken'
          },
          submitted_on:'2021-12-02',
          description:'Lorem ipsum',
          assigned_to:{
            id:1,
            name:'Technician 1'
          },
          ticket_status:{
            id:1,
            name:'Open'
          },
        }, {
          id:4,
          staff:{
            id:1,
            name:'Siti Zubaidah binti Haji Ismail',
          },
          asset: {
            id:1,
            name:'Macbook Pro 13"'
          },
          type: {
            id:1,
            name:'Broken'
          },
          submitted_on:'2021-12-02',
          description:'Lorem ipsum',
          assigned_to:{
            id:1,
            name:'Technician 1'
          },
           ticket_status:{
            id:2,
            name:'Assigned'
          },
        },    {
          id:2,
          staff:{
            id:1,
            name:'Siti Zubaidah binti Haji Ismail',
          },
          asset: {
            id:1,
            name:'Macbook Pro 13"'
          },
          type: {
            id:1,
            name:'Broken'
          },
          submitted_on:'2021-12-02',
          description:'Lorem ipsum',
          assigned_to:{
            id:1,
            name:'Technician 1'
          },
           ticket_status:{
            id:3,
            name:'Closed'
          },
        }, {
          id:3,
          staff:{
            id:1,
            name:'Siti Zubaidah binti Haji Ismail',
          },
          asset: {
            id:1,
            name:'Macbook Pro 13"'
          },
          type: {
            id:1,
            name:'Broken'
          },
          submitted_on:'2021-12-02',
          description:'Lorem ipsum',
          assigned_to:{
            id:1,
            name:'Technician 1'
          },
          ticket_status:{
            id:3,
            name:'On-Hold'
          },
        },
      ],
      add: {
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      edit: {
        id: "",
        license_name: "",
        product_key: "",
        vendor: "",
        quantity: 0,
        expiration_date: ""
      },
      tableData: {
        tableHeader: [],
        content: {}
      },
      assigned_to_toggle: [],
      selected: "A",
      page: 0,
      loading: true,
      options: {},
      vendors: [
        { id: 1, name: "Vendor 1" },
        { id: 2, name: "Vendor 2" },
        { id: 3, name: "Vendor 3" },
        { id: 4, name: "Vendor 4" }
      ]
    };
  },
  //this one will populate new data set when user changes current page.
  watch: {
    options: {
      handler() {
        this.readDataFromAPI();
      }
    },
    deep: true
  },
  computed: {
    addTableHeader() {
      return [
        { label: "Ticket No", sort: "sorting" },
        { label: "Staff", sort: "sorting" },
        { label: "Asset", sort: "sorting" },
        { label: "Assigned To", sort: "sorting" },
        { label: "Ticket Status", sort: "sorting" },
        { label: "Date Submitted", sort: "sorting" }
      ];
    }
  },
  methods: {
    //Reading data from API method.
    readDataFromAPI() {
      axios
        .get("https://ghibliapi.herokuapp.com/films")
        .then(response => {
          //Then injecting the result to datatable parameters.
          this.loading = false;
          this.tableData.tableHeader = this.addTableHeader;
          //   this.passengers = response.data;
          //   this.tableData.tableRow = this.passengers;

          // this.totalPassengers = response.data.totalPassengers;
          // this.numberOfPages = response.data.totalPages;
        })
        .then(function() {
          $("#issue_tbl").DataTable({
            retrieve: true,
            iDisplayLength: 10,
            aLengthMenu: [
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
              [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
            ],
            dom: "Bflrtip",
            scrollX: true,
            buttons: [
              {
                extend: "excel",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "pdf",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              },
              {
                extend: "print",
                className: "btn btn-light glyphicon glyphicon-list-alt"
              }
            ]
          });
        });
    },

    loadChart() {
      this.option = this.data.option;

      let o = document.getElementById("issueChart");
      let a = echarts.init(o);
      a.setOption(this.option);
    },

    handleClick(ticket_id) {
      this.$router.push('/ticket/request/edit/' + ticket_id);
    },

    getTitle(){
        let title= "All";
        if(this.assigned_to_toggle >= 0){
             this.threshold.forEach((item,index)=>{
            if(this.assigned_to_toggle === index){
                title = item.name;
            }
        })
        } 

        return title;

       
        
    },

  
  },
  //this will trigger in the onReady State
  mounted() {
    this.readDataFromAPI();
    this.loadChart();
  }
};
</script>

<style>
.v-btn-toggle {
  flex-direction: column;
  background: #ffff;
}

.aa {
  background: #bebebe !important;
}

.bb {
  background: green !important;
}

.cc {
  background: blue !important;
}

.dd {
  background: yellow !important;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: lightseagreen;
    border: 2px solid lightseagreen;
    color:white;
    text-align: center;

    font: 12px Arial, sans-serif;
}
</style>
